body {
  background-color: gold;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.scoreboard > div {
  text-align: center;
}

#main-heading {
  text-align: center;
}

#results {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

button {
  background-color: aquamarine;
  color: black;
  padding: 10px 15px;
  font-size: 20px;
  margin-right: 10px;
}
