.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

#main-heading {
  text-align: center;
}
